.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0 solid #8f8383;
  border-radius: 0.25rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 10px;
}
.card-body {
  width: 90%;
}
.plus {
  text-align: center;
}
/* CART */

.item-btn-cart {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #2353eb;
  padding-right: 2px;
  padding-left: 2px;
}

.item-btn-cart:hover {
  background-color: rgb(255, 255, 255);
}

.item-btn-cart:hover .sign {
  color: #2353eb;
}
.item-btn-cart:focus .sign {
  color: #2353eb;
}

.item-btn-cart i {
  color: white;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
}

.trash-btn {
  border: none;
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-bottom: 20px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-size: 15px;
}

.trash-btn i {
  color: rgb(219, 72, 72);
  font-weight: 900;
  margin-bottom: 2px;
}

.cart span {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e94560;
  font-size: 12px;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: -1px;
}

@media only screen and (max-width: 768px) {
  .action-col button {
    margin: 2px;
  }

  .trash-btn {
    margin-left: 0px;
  }
}

/* STUDENT HOME */
.banner {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: rgba(39, 56, 101, 0.696);
  color: white;
  margin-top: 0px;
  border-radius: 10px;
}

.banner .content {
  min-width: 270px;
  width: 100%;
  margin-top: 30px;
  padding-left: 40px;
}

.banner img {
  width: 100vw;
  object-fit: cover;
  clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 10px;
}

.banner h1 {
  font-size: 40px;
  color: rgb(24, 24, 74);
  font-weight: 700;
}
.call-to-action {
  font-weight: 500;
  font-size: 25px;
}
.item-btn {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  padding: 6px;
  font-size: 10px;
  background-color: #2353eb;
}
.item-btn i {
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.item-btn:hover {
  background-color: rgb(255, 255, 255);
}

.item-btn:hover .plus {
  color: #2353eb;
}
.item-btn:focus .plus {
  color: #2353eb;
}

/* .app-search {
  padding: calc(32px / 2) 0;
}
.app-search .form-control {
  border: none;
  height: 38px;
  padding: 20px 30px;
  background-color: #cfe2ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
} */

@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
  .banner img {
    height: 50vh;
    clip-path: initial;
    width: inherit;
    margin-top: 50px;
  }
  .card.menu-card {
    margin-top: 350px;
  }
  .banner .content {
    margin-top: 50px;
    text-align: center;
    padding-left: 0;
  }
  .Student_title__cko1K {
    text-align: center;
  }
  .card {
    margin-top: 10px;
  }
  .card-body.cart-body {
    width: 100%;
  }
  .Student_totalprice__sJJIR {
    text-align: center;
    margin-bottom: 20px;
  }
  .col-auto.order-buttons{
    text-align: center;
  }
}

@media screen and (max-width:426px) {
  .card.menu-card{
    margin-top: 300px;
  }
  .card-body{
    padding: 0;
  }
}
