.canteen-current-order-card{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color:white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    border-radius: 10px;
}

.card-body{
    width: 90%;
    margin: auto;
    padding: 20px;
}

.modal-header{
    background-color:#173f4e;
    color: white;
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
}


.modal-body button{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}

.modal-footer button{
    background-color: #173f4e;
    color: #fff;
    font-weight: 700;
    margin: 10px;
}

.modal-footer button:hover{
    background-color: #85aaaa;
    color: #173f4e;
}

.table-btn{
    background-color:#85aaaa;
    color: #173f4e;
    font-weight: 600;
}


.table-btn:hover{
    background-color:#a65111;
    color: white;
}

.text-dark{
    font-weight: 500;
}

.badge{
    font-size: 0.85rem;
}


/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
    /* Adjust .canteen-current-order-card margin */
    .canteen-current-order-card{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Adjust .modal-body button font-size */
    .modal-body button{
        font-size: 13px;
    }
}

/* Media query for screens with a minimum width of 768px */
@media (min-width: 768px) {
    /* Adjust .canteen-current-order-card margin */
    /* .canteen-current-order-card{
        margin-left: 50px;
        margin-right: 50px;
    } */
}