.canteen-current-order-card{
    margin-left: 30px;
    margin-right: 30px;
}

.card-body{
    width: 90%;
}

.modal-header{
    background-color:#b91828b8;
    color: white;
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
}

.modal button{
    margin: 10px;
}

.status{
    padding-left:100px;
}

.modal-body button{
    font-size: 15px;
    font-weight: 600;
}

.modal-footer button{
    background-color: #b91828b8;
    color: white;
}

.table-btn{
    background-color:#b91828b8;
    color: white;
    font-weight: 500;
}


.table-btn:hover{
    background-color: rgb(20, 111, 97);
    color: white;
}

.text-dark{
    font-weight: 500;
}

.badge{
    font-size: 0.85rem;
}


/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
    /* Adjust .canteen-current-order-card margin */
    .canteen-current-order-card{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Adjust .modal-body button font-size */
    .modal-body button{
        font-size: 13px;
    }
}

/* Media query for screens with a minimum width of 768px */
@media (min-width: 768px) {
    /* Adjust .canteen-current-order-card margin */
    .canteen-current-order-card{
        margin-left: 50px;
        margin-right: 50px;
    }
}